<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animation Orgue de Barbarie</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <script type="module" defer src="../static/js/main.js"></script>
  </head>
  <body>
    <form class="parameter-container" onsubmit="return false">
      <div>
        <div>Instrument</div>
        <div class="instrument-options">
          <div>
            <input
              type="radio"
              id="resonator"
              name="instrument"
              value="0"
              checked
            />
            <label for="resonator" class="radio-label">Résonateur</label>
          </div>
          <div>
            <input type="radio" id="voice" name="instrument" value="1" />
            <label for="voice" class="radio-label">Voix</label>
          </div>
          <div>
            <input type="radio" id="chords" name="instrument" value="2" />
            <label for="chords" class="radio-label">Accords</label>
          </div>
        </div>
      </div>
      <div>
        <label for="length">Nombre de notes : </label>
        <div class="number-input">
          <span class="minus">-</span>
          <!-- max attribute needs to be set programmatically -->
          <input
            type="number"
            id="length"
            name="length"
            readonly="true"
            min="3"
            max="0"
            value="4"
          />
          <span class="plus">+</span>
        </div>
      </div>
      <div>
        <label for="">Vitesse : </label>
        <span></span>
        <input
          type="range"
          class="slider"
          id="speed"
          name="speed"
          min="10"
          max="99"
          value="50"
        />
      </div>
      <div>
        <label for="volume">Volume : </label>
        <span></span>
        <input
          type="range"
          class="slider"
          id="volume"
          name="volume"
          min="0"
          max="99"
          value="50"
        />
      </div>
      <div>
        <label for="harmonics">Harmoniques : </label>
        <span></span>
        <input
          type="range"
          class="slider"
          id="harmonics"
          name="harmonics"
          min="0"
          max="99"
          value="50"
        />
      </div>
      <div>
        <label for="timbre">Timbre : </label>
        <span></span>
        <input
          type="range"
          class="slider"
          id="timbre"
          name="timbre"
          min="0"
          max="99"
          value="50"
        />
      </div>

      <div class="new-image-button-container">
        <button type="button" onclick="window.location.href='/'">
          Nouvelle Image
        </button>
      </div>
    </form>
    <div class="canvas-container">
      <canvas id="canvas" width="827px" height="827px"></canvas>
      <div class="progress-bar"><div class="progress"></div></div>
      <div class="reload-button-container">
        <div class="error-display"></div>
        <button type="button" onclick="window.location.href='/'">
          RECHARGER
        </button>
      </div>
    </div>
  </body>
</html>
