<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animation Orgue de Barbarie</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <script type="module" defer src="../static/js/main.js"></script>
  </head>
  <body>
    <div class="loading-modal">...</div>
    <form class="parameter-container" onsubmit="return false">
      <div>
        <label for="length">Nombre de notes</label>
        <div class="number-input">
          <span class="minus">-</span>
          <input
            type="number"
            id="length"
            name="length"
            readonly="true"
            min="3"
            max="12"
            value="4"
          />
          <span class="plus">+</span>
        </div>
      </div>
      <div>
        <div>Instrument</div>
        <div class="instrument-options">
          <div>
            <input
              type="radio"
              id="organ"
              name="instrument"
              value="1"
              checked
            />
            <label for="organ" class="radio-label">Orgue</label>
          </div>
          <div>
            <input type="radio" id="trumpet" name="instrument" value="2" />
            <label for="trumpet" class="radio-label">Trompette</label>
          </div>
          <div>
            <input type="radio" id="flute" name="instrument" value="3" />
            <label for="flute" class="radio-label">Flûte</label>
          </div>
        </div>
      </div>
      <div>
        <label for="volume">Volume</label>
        <input
          type="range"
          class="slider"
          id="volume"
          name="volume"
          min="0"
          max="127"
          value="64"
        />
      </div>
      <div>
        <label for="">Vitesse</label>
        <input
          type="range"
          class="slider"
          id="speed"
          name="speed"
          min="10"
          max="100"
          value="60"
        />
      </div>
      <button type="button" onclick="window.location.href='/'">
        Nouvelle Image
      </button>
    </form>
    <div class="image-container">
      <div class="canvas-container">
        <canvas id="canvas" width="500px" height="500px"></canvas>
      </div>
    </div>
  </body>
</html>
