.number-input {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

input[type="number"] {
  all: unset;
  width: 80px;
  text-align: center;
  appearance: textfield;

  user-select: none;
  pointer-events: none;
}

.minus,
.plus {
  width: 80px;
  background-color: var(--accent);
  color: var(--background);
  box-sizing: border-box;
  border: double 6px var(--background);
  text-align: center;
  padding: 0px 0 0 0;
}

.minus:active,
.plus:active {
  filter: brightness(80%);
}

.instrument-options {
  box-sizing: border-box;
  height: 80%;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 1fr 1fr;
}

input[type="radio"] {
  box-sizing: border-box;
  display: none;
}

input[type="radio"]:checked + label {
  border: solid 2px var(--accent);
}

input[type="range"] {
  appearance: none;
  display: block;
  height: 30px;
  width: 100%;
  background-color: var(--background);
  border: 1px solid var(--accent);
}

input[type="range"]::-moz-range-thumb {
  opacity: 0;
}

input[type="range"]::-moz-range-progress {
  height: 100%;
  background-color: var(--accent);
}

.new-image-button-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

.new-image-button-container > button {
  background-color: var(--accent);
  color: var(--background);
  font: inherit;
  border: double 6px var(--background);
  padding: 20px 5px;
}
