@import url("reset.css");
@import url("inputs.css");
@import url("loading.css");

:root {
  --background: #040404;
  --accent: #ffcd00;
  --roundedness: 10px;
}

body {
  background-image: url("/static/resources/InterfaceEdit-72ppi.png");
  color: var(--accent);
  font-family: "Pixelify Sans", monospace;
  font-size: 28px;
  height: 100vh;
  width: 100vw;
  user-select: none;
}

svg {
  display: none;
}

.parameter-container {
  box-sizing: border-box;
  position: absolute;
  top: 169px;
  left: 149px;
  height: 817px;
  width: 365px;
  display: grid;
  grid-template-rows: 204px 96px 93px 96px 92px 98px 1fr;
  grid-template-columns: 1fr;
}

.parameter-container > * {
  /* box-sizing: border-box; */
  padding: 6px 36px 0px 30px;
}

.instrument-title {
  padding-top: 5px;
  padding-bottom: 16px;
}

.canvas-container {
  mix-blend-mode: multiply;
  position: absolute;
  z-index: auto;
  top: 197px;
  left: 817px;
  height: 828px;
  width: 828px;
}

#canvas {
  box-sizing: border-box;
}
