@import url("reset.css");
@import url("inputs.css");

:root {
  --background: #040404;
  --accent: #ffcd00;
  --roundedness: 10px;
}

body {
  /* background-color: var(--background); */
  background-image: url("/static/resources/InterfaceEdit-72ppi.png");
  color: var(--accent);
  font-family: "Pixelify Sans", monospace;
  font-size: 28px;
  height: 100vh;
  width: 100vw;
  user-select: none;
}

svg {
  display: none;
}

.loading-modal {
  background-color: var(--background);
  color: var(--accent);
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  border: 16px solid var(--background);
  border-top: 16px solid var(--accent);
  border-bottom: 16px solid var(--accent);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.parameter-container {
  box-sizing: border-box;
  position: absolute;
  top: 173px;
  left: 111px;
  height: 818px;
  width: 365px;
  display: grid;
  grid-template-rows: 216px 1fr 1fr 1fr 1fr 1fr 137px;
  grid-template-columns: 1fr;
}

.parameter-container > * {
  box-sizing: border-box;
  padding: 5px 30px;
  border: solid 2px var(--accent);
}

.canvas-container {
  mix-blend-mode: multiply;
  position: absolute;
  top: 201px;
  left: 779px;
  height: 827px;
  width: 827px;
  background-size: contain;
  background-repeat: no-repeat;
}

#canvas {
  box-sizing: border-box;
}
