<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <script defer src="../../static/js/script.js"></script>
    <title>layout</title>
  </head>

  <body>
    <div class="parameter-container">
      <form action="/" class="parameter-form">
        <div>
          <label for="length">Nombre de notes</label>
          <input
            type="number"
            id="length"
            name="length"
            min="3"
            max="12"
            value="4"
          />
        </div>
        <div>
          <div>Instrument</div>
          <div>
            <input
              type="radio"
              id="organ"
              name="instrument"
              value="1"
              checked
            />
            <label for="child">Orgue</label>
          </div>
          <div>
            <input type="radio" id="trumpet" name="instrument" value="2" />
            <label for="adult">Trompette</label>
          </div>
          <div>
            <input type="radio" id="flute" name="instrument" value="3" />
            <label for="senior">Flûte</label>
          </div>
        </div>
        <div>
          <label for="volume">Volume</label>
          <input
            type="range"
            id="volume"
            name="volume"
            min="1"
            max="100"
            value="50"
            class="slider"
          />
        </div>
        <div>
          <label for="">Vitesse</label>
          <input
            type="range"
            class="slider"
            id="speed"
            name="speed"
            min="1"
            max="100"
            value="50"
          />
        </div>
      </form>
    </div>
  </body>
</html>
